<ion-header>
  <ion-navbar color="dark" text-center>
    <ion-title>PaisaVet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of veterinarias">

   <ion-row (click)="verDetalle(item)">
     <ion-thumbnail col-4 class="thumbnail">
        <img [src]="item.imagen"/>
     </ion-thumbnail>
     <ion-col>
       <h2 style="padding-top: 5px;">{{item.nombre}}</h2>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eaque nihil, rem hic, similique at ipsum voluptatum.
       <ion-item>
         <ion-badge  *ngIf="item.estado; else elseBlock" color="secondary">
              Abierto
          </ion-badge>
         <span item-end>
            <strong>$ {{item.price | number}}</strong>
          </span>
       </ion-item>
     </ion-col>
   </ion-row>
 </ion-card>

 <ng-template #elseBlock>
   <ion-badge color="danger">
        Cerrado
    </ion-badge>
 </ng-template>



</ion-content>
